@model ImageWebService.Models.ConfigModel
@{
    ViewBag.Title = "Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Service Config</h2>

<table class="table">
    <tr>
        <th>
            Output Directory:
        </th>
        <th>
            @Model.OutputDir
        </th>
    </tr>
    <tr>
        <th>
            Source Name:
        </th>
        <th>
            @Model.SourceName
        </th>
    </tr>
    <tr>
        <th>
            Log Name:
        </th>
        <th>
            @Model.LogName
        </th>
    </tr>
    <tr>
        <th>
            Thumbnail Size:
        </th>
        <th>
            @Model.ThumbnailSize
        </th>
    </tr>
    <tr>
        <th>
            Directory Handlers:
        </th>
        <th id="handlersList">
            @foreach (var item in Model.DirectoryHandlers)
            {
                <a href="@Url.Action("RemoveHandlerConfirm", "Home", new {handler = @item})">@item</a>
                <br />
            }
        </th>
    </tr>
</table>