@model ImageWebService.Models.MainModel
@{
    ViewBag.Title = "Image Web Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Image Web Service</h2>

<p>
    Server Status:
    @Model.Active
</p>
<p>
    Server Photos:
    @Model.NumberOfPhotos
</p>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
    </tr>

    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(mItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(mItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(mItem => item.LastName)
            </td>
        </tr>
    }
</table>


