@using ImageWebService.Models
@model IEnumerable<ImageWebService.Models.Log>
@{
    ViewBag.Title = "Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Service Logs </h2>

@using (Html.BeginForm("LogsByType", "Home", FormMethod.Post))
{
    @Html.DropDownList("LogType",
                    new SelectList(Enum.GetValues(typeof(LogType))),
                    "Select type",
                    new { @class = "form-control" })
    <input type="submit" value="Filter" class="btn-info" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(mItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(mItem => item.Type)
            </td>
        </tr>
    }
</table>
